<h2>{{ title }}</h2>
<div class="row">
    <div class="col-md-6 col-sm-6 well">
        <form [ngFormModel]="form" (ngSubmit)="save()" >
<!--Name-->
            <div class="control-group">
                Name
            </div>
            <input [(ngModel)]="user.name" #name="ngForm" ngControl="name" type="text" class="form-control">
            <div *ngIf="name.touched && !name.valid" class="alert alert-danger">
                 Name is required.
            </div>
<!--Email-->
            <div class="control-group">
                Email
            </div>
            <input [(ngModel)]="user.email" #email="ngForm" ngControl="email" type="text" class="form-control">
            <div *ngIf="email.touched && !email.valid" class="alert alert-danger">
                 Invalid email.
            </div>  
<!--Submit-->
            <button [disabled]="!form.valid" type="submit" class="btn btn-success">
                Save
            </button>
        </form>     
    </div>
</div>